@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
  --logo-color: rgb(176, 53, 51);
}


body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

a{
  text-decoration: none;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 3px solid var(--logo-color);
  box-sizing: content-box;
  z-index: 1;
}

.navbar-container > a {
  margin-top: 15px;
}

.logo{
  margin-left: 8vw;
  width: 80px;
  font-size: 55px;
  font-family: 'Raleway', cursive;
  text-decoration: none;
  color: var(--logo-color); 
  align-items: center;
}

.logo-hollow{
  color: var(--logo-color); 
  font-size: 48px;
  font-family: 'Monoton', cursive;
  text-decoration: none;
}
.navbar{
  justify-content: flex-end;
  display: flex;
  list-style: none;
  gap: max(2vw, 6px);
  margin-right: 4vw;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
  text-shadow: 0 0 30px #fff;
}

.navbar > li {
  margin-top: 10px;
  padding: 7px;
}

.navbar > li > a{
  color: black;
}

.navbar > li > a:hover{
  color: #aaa;
}

.sign-in{
  align-items: center;
  background-color: var(--logo-color);
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-top: auto;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Roboto Condensed', cursive;
}
.sign-in:hover{
  cursor: pointer;
}

.main{
  position: relative;
  z-index: -1;
}

.top-container{
  height: 90vh;
  align-items: center;
  background: url(/public/homepage.jpg);
  background-size: cover; 
}

.slogan{
  position: absolute;
  margin-left: -384px;
  top: 70%;
  left: 50%;
  font-size: 70px;
  color: #ffffff;
  text-shadow: 0 0 50px #000,0 0 50px #000;
  font-family: 'Raleway', Courier, monospace;
}

.about-container{
  display: flex;  
  margin: 8vw;
  gap: 60px;
  justify-content: center;
}

.about-img {
    margin-right: 100px;
    transform: skew(-10deg, 0);
    overflow: hidden;
    min-width: 300px;
    width: min(30vw, 450px);
    max-height: 650px;
    position: relative;
    justify-content: center;
    box-shadow: 0px 0px 10px var(--logo-color);
    object-fit: cover;
    z-index: -1;
    display: flex;
}
@media screen and (min-width: 1130px) {
  .about-img{
    max-height: 450px;
  }
}
.about-img > img {
    transform : skew(10deg, 0);
    width: auto;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    max-width: none;
    justify-content: center;
}
.about-text{
  flex-grow: 1;
  margin-right: 30px;
  margin-left: 35px;
  max-width: 700px;
  font-family: 'Roboto Condensed', sans-serif;
}

.about-text > h1 {
  font-size: 55px;
  margin-top: max(2vw ,20px);
}

.about-text > p {
  font-size: 20px;
  margin-top: max(4vw ,25px);
  margin-bottom: 40px;
}

.footer{
  margin-left: 8vw;
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 12px;
}

/* About */

.about-header-img{
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
  margin-top: 100px;
}
.about-header-img > img{
  width: 100%;
  position: relative;
  z-index: -1;
}

.about-header-banner{
  display: flex;
}

.about-header{
  font-size: min(6vw,40px);
  color: white;
  background-color: var(--logo-color);
  padding-left: 8vw;
  padding-right: 8vw;
  font-family: 'Raleway';
  flex-shrink: 0;
}

.parallelogram{
  width: 9vw;
  height: auto;
  background-color: var(--logo-color);
  transform: skew(-30deg);
  position: relative;
  left: -40px;
  z-index: -1;
}

.thin-bar{
  height: 10px;
  width: 100px;
  background-color: var(--logo-color);
  position: absolute;
  width: 100%;
  flex-grow: 1;
  z-index: -1;
}



.about-body{
  width: 90%;
  display: flex;
  gap: 50px;
}

.about-body-text{
  flex-grow: 1;
}

.about-body-text h1 {
  margin-block: 50px;
  font-size: 45px;
  font-family: 'Roboto Condensed', cursive;
}

.about-body p {
  margin-top: 50px;
  margin-left: 8vw;
  font-family: 'Roboto Condensed', cursive;
  font-size: 18px;
}

.about-body-img{
  overflow: hidden;
  max-height: 100%;
  margin-top: 60px;

}

.about-body-img img{
  object-fit: cover;
  height: 700px;
}

/* Expert Support */


.expert-img{
  height: 80vh;
  overflow: hidden;
  margin-top: 100px;
}
.expert-img > img{
  object-fit: cover;
  width: 100%;
  height: 80vh;
  z-index: -1;
}

/* Learn */

.content-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  width: auto;
  text-align: center;
  z-index: -1;
}

.content-header > * {
  border-bottom: 2px solid rgb(180, 180, 180);
  padding-bottom: 12px;
}
.content-header > p{
  min-width: 130px;
  cursor: pointer;
  user-select: none;
}

.content-header > span{
  cursor: default;
  user-select: none;
}

.selected-header:after {
  content: '';
  display: block;
  position: absolute;
  margin-top :11px;
  width: 130px;
  z-index: 0;
  border-bottom: solid 4px var(--logo-color);
  animation: fadeIn 800ms forwards;
}

.learn-content > *{
  animation: fadeIn 800ms forwards;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.learn-content{
  padding-top: 50px;
  margin-left: 8vw;
  margin-right: 8vw;
}

.learn-content h1{
  font-size: 45px;
  font-family: 'Roboto Condensed', cursive;
  padding-block: 30px;
}

.learn-content h2 {
  font-size: 32px;
  font-family: 'Roboto Condensed', cursive;
  padding-block: 30px;
}


.hidden{
  display: none;
}


.exercise-grid{
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.exercise-category {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border: 20px solid var(--logo-color);
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  animation: fadeIn 300ms forwards;
}

.exercise-category::after{
  content: '';
  position: absolute;
  left: -10%;
  bottom: -10%;
  width: 115%;
  height: 115%;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
}

.exercise-category:hover::after{
  animation: fadeInBg 250ms forwards;
}

.exercise-grid p {
  position: absolute;
  bottom: 35%;
  color: white;
  width: 100%;
  font-size: 45px;
  font-family: 'Roboto Condensed', cursive;
  z-index: 3;
}



@keyframes fadeInBg {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.5;
  }
}

.exercise-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

#topic-chosen{
  grid-column-start: 1;
  grid-column-end: -1;
  order: -1;
  transform: scale(1, .5) ease-in-out;
}